#menu-roll{
    display: none;
}

header label{
    float: right;
    font-size: 30px;
    margin: 6px 5px;
    cursor: pointer;
}


.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    height: auto;
    background: rgba(114, 114, 114, 0.562);
    transition: all 0.5s;
    transform: translateX(-100%)
}
.menu ul a{
    text-decoration: none;
}
.menu ul a li{
    display: block;
    color: #fff;
    height: 50px;
    padding: 15px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.5);
    font-family: 'Open Sans', sans-serif;

}
.menu ul a li:hover{
    background: rgba(255, 255, 255, 0.3);
}

#menu-roll:checked ~.menu{
    transform: translateX(0%);
    
}



@media (min-width: 1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background: #D9A05B;

    }
    .menu ul a li{
        border: none;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;

    }

    header label{
        display: none;
    }
}
