.login-box{
	width: 320px;
	height: 520px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.login-box .avatar{
	width:60%;
	height:auto;
	display: block;
	margin: auto;
}

.login-box h1{
	text-align: center;
	font-size: 40px;
	color: #000000;
	margin-bottom: 10px;
}

.login-box form label{
	display: block;
}

.login-box input{
	width: 100%;
	margin-bottom: 20px;
}

.login-box input[type="email"], .login-box input[type="password"] {
	border: none;
	border-bottom: 1px solid #000000;
	background: none;
	height: 40px;
	color: #000000;
	font-size: 16px;
	outline: none;
}

.login-box input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background:#D9A05B;
	color: #000000;
	font-size: 20px;
	border-radius: 5px;
}

.login-box input[type="submit"]:hover{
	background:#daae7a;
	transition-duration: 0.1s;
}

.login-box input[type="submit"]:active{

	background:#d18c38;
	transform: translateY(10px);

}

.login-box a{
	text-decoration:none;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.login-box a:hover {
	color: #D9A05B;
	} 



.espacio{
	width: 100%;
	height: 100vh;
}


@media (max-width: 665px){
    
  
    .login-box{
        margin-top: 100px;
    }

   
}









