
#seccion_tabla{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}

table{
    width: 80%;
    margin-top: 3%;
    Font-family: Arial;
}

th{
    background-color: #D9A05B;
    color: #ffffff;
}

tr:nth-child(even){
    background-color: #eee;
}
tr:nth-child(odd){
    background-color: #fff;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}


.btn-crearP, .btn-crearU{
    margin: 10px;
    padding: 15px;
    background-color: #D9A05B;
    cursor: pointer;
    text-decoration: none;
    flex: none;
}
